#{{ ansible_managed }}

# Web archive and other special configurations

server {
	server_name www-old.{{ domain }};
	listen 443 ssl;
	return 301 http://$server_name$request_uri;
}

server {
	server_name www-old.{{ domain }};
	listen 80;
	index index.html index.htm;
	root {{ archive_dir }};
	add_after_body /archive-message.html;
	location = /archive-message.html {
		root {{ release_dir }}/static/org/;
	}
	location / {
		try_files $uri $uri/ =404;
	}
}
