[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-splinter = "*"
tox = "*"
django-debug-toolbar = "*"

[packages]
ConcurrentLogHandler = "*"
Django = "~=2.1"
django-anymail = "*"
django-libsass = "*"
django-redis = "*"
dj-database-url = "*"
elasticsearch = "*"
guess_language-spirit = "*"
gunicorn = "*"
libsass = "*"
Pillow = ">=4.0.0"
"psycopg2-binary" = "*"
puput = ">=1.0.0"
stellar = "*"
wagtail = ">=2.0"
whitenoise = "*"
django-crispy-forms = "*"
python-dotenv = "*"
