[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-splinter = "*"
tox = "*"
django-debug-toolbar = "*"

[packages]
"psycopg2-binary" = "*"
ConcurrentLogHandler = "*"
dj-database-url = "*"
django = "<2.3"
django-anymail = "*"
django-colorful = "*"
django-crispy-forms = "*"
django-el-pagination = "*"
django-libsass = "*"
django-redis = "*"
django-social-share = "*"
elasticsearch = ">=5.0.0,<6.0.0"
guess_language-spirit = "*"
gunicorn = "*"
libsass = "*"
Pillow = ">=4.0.0"
puput = ">=1.0.0"
python-dotenv = "*"
stellar = "*"
wagtail = ">=2.0"
whitenoise = "*"
django-toolbelt = "*"
