# Updated: 17.11.2017

# Core
wagtail>=1.13.1,<2.0.0
Django>=1.11.7,<2.0.0
elasticsearch>=2.0.0,<3.0.0

# Database
psycopg2==2.7.4
dj-database-url==0.5.0

# Content
puput==1.0.1
guess-language-spirit==0.5.3

# Caching
django-redis==4.9.0

# Frontend
django-libsass==0.7
libsass==0.14.5
Pillow==5.1.0

# Development tools
stellar==0.4.5

# Production dependencies
gunicorn==19.8.1
whitenoise==3.3.1
ConcurrentLogHandler==0.9.1
django-anymail==2.2
