{% load wagtailimages_tags %}

<address>
  <p>
  {% if contact.map_url %}
    <a href="{{ contact.map_url }}">{{ contact.address|linebreaks }}</a>
  {% else %}
    {{ contact.address|linebreaks }}
  {% endif %}
  </p>
  <p><small>Tel.</small> <a href="{{ contact.phone_link }}">{{ contact.phone }}</a><br>
  <a href="{{ contact.email_link }}">{{ contact.email }}</a><br>
  <a href="{{ contact.www }}">{{ contact.www_domain }}</a></p>
</address>

<div class="social-networks">
{% for sc in socials %}
  <a href="{{ sc.network_url }}" target="_blank" title="{{ sc.network_title }}"
     style="background-image:url(/static/images/social/{{ sc.network }}.png)">
     {{ sc.network_title }}</a>
{% endfor %}
</div>

<style type="text/css">
{{ contact.style }}
{% if contact.color %}
  footer#footer, .navbar-pre {
     background-color: {{ contact.color }};
  }
{% endif %}
{% if contact.logo %}
  {% image contact.logo original as contact_logo %}
  .navbar-brand {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-image: url('{{ contact_logo.url }}');
    padding-left: 80px;
  }
  .navbar-brand img { display: none !important; }
{% endif %}
</style>

{% if contact.is_google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ contact.analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ contact.analytics }}');
</script>

{% elif contact.get_piwik_analytics %}
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", document.domain]);
  _paq.push(["setDomains", [document.domain,"*." + document.domain]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//{{ contact.get_piwik_analytics.server }}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{ contact.get_piwik_analytics.site }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
{% endif %}
