@charset 'utf-8';

@import 'paper/variables';
$hr-border: $gray-light;

@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'paper/bootswatch';

// Modules
@import "modules/modules";

// Improved responsive layout
body { margin-top: 104px; }
@include mid-screen($screen-sm-min, $screen-md-min) {
  body { margin-top: 168px; }
}
@include max-screen(1000px) {
  .carousel-inner .item {
    margin-bottom: 0px;
    height: auto;
  }
  .slick-dots { display: none !important; }
}
@include max-screen(480px) {
  #responsive { display: none !important; }
  .arrow:before { display: none; }
  a.navbar-brand { max-width: 80%; }
}

// Slideshow positioning
$slider-nav: 200px;
.slider-nav {
  margin-top: 2.5em;
  .item  {
    height: $slider-nav;
    img {
      width: 90%;
      height: $slider-nav;
    }
  }
}

// Slideshow navigation arrows
.arrow {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  &:before {
      font-size: 45px;
      padding: 58px 0 88px 0;
      // background-color: rgba(128, 128, 128, 0.57);
      margin: 0;
  }
}

// Home page intro link as button
#banner .rich-text h4 a:active {
  border: none;
  opacity: 1.0;
  background: #eee;
  border-bottom: 0px;
  border-right: 0px;
  border-top: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
}
#banner .rich-text h4 a:hover {
  color: #2643C9;
  opacity: 0.9;
  background: white;
  text-shadow: 2px 2px 4px lightgrey;
}
#banner .rich-text h4 a {
text-decoration: none;
  font-weight: 600;
  background: whitesmoke;
  padding: 1em;
  text-shadow: 2px 2px 4px white;
  border-bottom: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  color: darkblue;
}

// Language menu hack, until this is configurable
.language-nav a[lang='en'] { display: none; }

// Disable metas and override blog styles
.blog-page .sidebar .meta { display: none; }
.blog-page section { padding: 0; }
.blog-page .blog-tags ul { padding: 0; }
.blog-page ul.sidebar { min-height: 12em; }
.blog-page .social-item {
  font-size: 70%; background: #2643A9 !important;
}
.blog-header a {
  color: white !important; text-shadow: 1px 1px 2px black;
}

@import "subsites";
