@charset 'utf-8';

@import 'paper/variables';
$hr-border: $gray-light;

@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'paper/bootswatch';

// Modules
@import "modules/modules";

// Improved responsive layout
body { margin-top: 104px; }
@include mid-screen($screen-sm-min, $screen-md-min) {
  body { margin-top: 168px; }
}
@include max-screen(1000px) {
  .carousel-inner .item {
    margin-bottom: 0px;
    height: auto;
  }
  .slick-dots { display: none !important; }
}
@include max-screen(480px) {
  #responsive { display: none !important; }
  .arrow:before { display: none; }
  a.navbar-brand { max-width: 80%; }
}

// Slideshow positioning
$slider-nav: 200px;
.slider-nav {
  margin-top: 2.5em;
  .item  {
    height: $slider-nav;
    img {
      width: 90%;
      height: $slider-nav;
    }
  }
}

// Slideshow navigation arrows
.arrow {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  &:before {
      font-size: 45px;
      padding: 58px 0 88px 0;
      // background-color: rgba(128, 128, 128, 0.57);
      margin: 0;
  }
}

// Language menu hack, until this is configurable
.language-nav a[lang='en'] { display: none; }

// Disable metas and override blog styles
.blog-page {
  padding-top: 1em;

  .sidebar .meta { display: none; }
  ul.sidebar { background: transparent; }

  section { padding: 0; }
  .blog-tags ul { padding: 0; }

  .searchTerm {
    text-transform: uppercase;
    font-weight: bold;
    // background: #fff;
    margin-bottom: 0px;
  }
  .searchDescription {
    // background: #fff;
    margin-bottom: 20px;
    padding: 0 20px 20px;
    line-height: normal;
    color: #555;
  }
  .social-item {
    font-size: 70%;
    background: #2643A9 !important;
  }

  h1.title {
    margin-bottom: 0;
  }
  ul.links {
    margin: 0; padding: 0;
    display: block;
    text-align: center;
  }

  .blog-entry {
    a {
      text-decoration: none;
      color: black;
    }
    .panel img {
      width: 100%; height: auto;
    }
    .entry-category, .entry-meta {
      font-size: 80%;
      color: #777;
      text-transform: uppercase;
    }
  }
}
.blog-header {
  a {
    color: white !important;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
  }
  .lead {
    color: white;
    font-size: 100%;
  }
}
.blog .entry-categories {
  text-align: center;
  text-transform: uppercase;
  a { color: #555; font-weight: bold;  }
  li { list-style: none; margin: 0; padding: 0; }
  ul { list-style: none; margin: 0; padding: 1em 0 0; }
}

@import "subsites";
