@charset 'utf-8';

@import 'paper/variables';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'paper/bootswatch';

// Modules
@import "modules/modules";

body {
  margin-top: 104px;
}

@include mid-screen($screen-sm-min, $screen-md-min) {
  body { margin-top: 200px; }
}
@include max-screen(1000px) {
  .carousel-inner .item {
    margin-bottom: 0px;
    height: auto;
  }
  .slick-dots { display: none !important; }
}
@include max-screen(480px) {
  #responsive { display: none !important; }
  .arrow:before { display: none; }
}

$slider-nav: 200px;
.slider-nav {
  margin-top: 2.5em;

  .item  {
    height: $slider-nav;

    img {
      width: 90%;
      height: $slider-nav;
    }
  }
}

.arrow:before {
    font-size: 45px;
    padding: 58px 0 88px 0;
    background-color: rgba(128, 128, 128, 0.57);
    margin: 0;
}
