.site-sphc, .site-ngo-allianz-ebk {

  #news, #footer, .contact-nav .link { display: none; }

}

.site-sphc {

  a.navbar-brand {
    height: 60px;
    padding-right: 62px;
    background: url('/static/images/ssph-logo.jpg') center right no-repeat;
    background-size: auto 75%;
    overflow: hidden;
  }

  #carousel-banner  .carousel-caption > * { display: none; }
  #carousel-banner  .carousel-caption {
    width: 13em;
    background: rgba(0,0,50,0.4);
    border: 6px solid white;
    font-size: 155%;
    padding: 1em 1em;
    left: 50%;
    margin-left: -6.5em;
    bottom: 2em;
  }
  #carousel-banner  .carousel-caption:before {
    content: 'SPHC 2018'; display: block;
  }
  #carousel-banner .carousel-caption:after {
    content: 'Better Health Faster';
  }

}
