{% extends "base.html" %}

{% block title %}Password Required{% endblock %}

{% block body_class %}password-required{% endblock %}

{% block content %}
<section>
  <div class="container">

  <h1>Password requis/erforderlich</h1>

  <center>
    <form action="{{ action_url }}" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
            {{ form.password.errors }}
            {{ form.password }}
        </div>

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Continue/Fortfahren" />
    </form>

  <em><p>
    <br>Sie benötigen ein Passwort, um auf diese Seite zuzugreifen.
    <br>Vous avez besoin d'un mot de passe pour accéder à cette page.
    <br>You need a password to access this page.
  </p></em>

  </center>
  </div>
</section>
{% endblock %}
