{% load wagtailcore_tags wagtailimages_tags puput_tags %}

<!-- Front page news -->
<section id="news">
	<div class="container">
		<div class="row">
      {% for entry in blogentries %}
			<!-- Blog post {{ entry.id }} -->
			<div class="col-md-4 col-sm-6 col-xs-12 blog-entry">
				<div class="panel panel-default">
					{% if entry.header_image %}
						{% image entry.header_image fill-360x270 %}
					{% endif %}
					<div class="panel-body">
						<h3><span>{{ entry.title }}</span></h3>
						<p>
						{% if entry.excerpt %}
							{{ entry.excerpt|striptags }}
						{% else %}
							{{ entry.body|striptags|truncatewords_html:40 }}
						{% endif %}
						</p>
						<a href="{% pageurl entry %}" class="btn btn-default btn-xs"> 🡆 </a>
					</div>
					<a href="{% pageurl entry %}" class="fill"></a>
				</div>
			</div>
		{% empty %}
				<!-- No blogs today -->
		{% endfor %}

		{% for feedType in entryfeeds %}
		<div class="col-md-4 col-sm-6 col-xs-12 news-entry">
			<h4 class="partner-news"><a href="/{{ feedType.link }}">{{ feedType.name }}
				<!-- <span class="glyphicon {{ feedType.icon }}" aria-hidden="true"></span> -->
			</a></h4>
			<div class="panel panel-fulltext">
				<div class="panel-body">
					<ul>
						{% for entry in newsentries %}
							{% if feedType.name in entry.stream.title %}
							<li><!-- News entry {{ entry.id }} -->
								<a href="{{ entry.link }}" target="_blank">
									{{ entry.title|striptags|truncatewords_html:10 }}
								</a>
								<br><small>{{ entry.published }}</small>
							</li>
							{% endif %}
						{% empty %}
						    <!-- No news today -->
				    {% endfor %}
					<ul>
				</div>
			</div>
		</div><!-- /news-entry -->
		{% endfor %}

		</div>
	</div>
</section>
